@page "/Stock"
@using Common.Models
@using Common.Models.RequestModel
@using Common.Models.ResponseModel
@using Service.IService
@inject IProductService _ProductService
@inject IStockService  _stockService
@inject NavigationManager Navigation
@inject DialogService DialogService
@using AIT_Inventory_App.Components.Pupups


<!-- FILTERS -->
<RadzenStack Orientation="Orientation.Horizontal"
             Gap="12px"
             Style="margin-bottom:15px; align-items:flex-end; flex-wrap:wrap;">

    <!-- From Date -->
    <div>
        <label style="font-size:12px; color:#6c757d;">From</label>
        <RadzenDatePicker @bind-Value="fromDate" DateFormat="MM/dd/yyyy"
                          Style="width:160px" />
    </div>

    <!-- To Date -->
    <div>
        <label style="font-size:12px; color:#6c757d;">To</label>
        <RadzenDatePicker @bind-Value="toDate" DateFormat="MM/dd/yyyy"
                          Style="width:160px" />
    </div>
    <div>
        <label style="font-size:12px; color:#6c757d;">Products</label>
        <RadzenDropDown Data="@Products"
                        TextProperty="Name"
                        ValueProperty="Id"
                        @bind-Value="productId"
                        Style="width:180px"
                        Name="ProductId"
                        Placeholder="Choose a Product"
                        AllowFiltering="true"
                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />


    </div>
    
    @* Click="@(() => grid.Reload())" /> *@
    <!-- Search Button -->
    <RadzenButton Text="Search"
                  Icon="search"
                  ButtonStyle="ButtonStyle.Primary"
                  Click="@(() => grid.Reload())" />

</RadzenStack>

<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:15px;">
    <h3 style="margin:0;">Stock Management</h3>
    <RadzenButton Text="Add Stock" Icon="add_circle" ButtonStyle="ButtonStyle.Primary"
                  Click="@AddStock" />
</div>

<RadzenDataGrid @ref="grid"
                TItem="StockFifoDto"
                Data="@Stocks"
                Count="@count"
                LoadData="@LoadData"
                AllowPaging="true" AllowVirtualization="false"
                PageSize="10">

    <Columns>

        <RadzenDataGridColumn TItem="StockFifoDto" Property="Id" Title="ID" />
        <RadzenDataGridColumn TItem="StockFifoDto" Property="ProductName" Title="ProductName" />
        <RadzenDataGridColumn TItem="StockFifoDto" Property="PurchaseQty" Title="PurchaseQty" />
        <RadzenDataGridColumn TItem="StockFifoDto" Property="SoldQty" Title="SoldQty" />
        <RadzenDataGridColumn TItem="StockFifoDto" Property="RemainingQty" Title="RemainingQty" />
        <RadzenDataGridColumn TItem="StockFifoDto" Property="PurchaseDate" Title="PurchaseDate" />

        <RadzenDataGridColumn TItem="StockFifoDto" Title="Actions">
            <Template Context="data">
                <RadzenButton Icon="visibility" Size="ButtonSize.Small" Click="@(() => ViewStock(data))" />
                 <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(() => EditStock(data))" />
            </Template>
        </RadzenDataGridColumn>

    </Columns>

</RadzenDataGrid>

@code {
    private IEnumerable<StockFifoDto>? Stocks;
    private int count;
    RadzenDataGrid<StockFifoDto> grid;
    private List<ProductModel> Products;
    DateTime? fromDate = DateTime.Now.AddDays(-1);
    DateTime? toDate = DateTime.Now;
    int? productId;
    
    protected override async Task OnInitializedAsync()
    {
        var getProducts = await _ProductService.GetProductsAsync(0, 1, int.MaxValue, string.Empty);
        if (getProducts != null || (getProducts.Data.Item1 != null || getProducts.Data.Item1.Count > 0))
            Products = getProducts?.Data.Item1;
        await LoadData(new LoadDataArgs { Skip = 0, Top = 10 });
    }
    private async Task LoadData(LoadDataArgs args)
    {
        // args.Skip = starting record index
        // args.Top = page size
        // args.SortOrder = sorting info
        // args.Filter = filter expression
        int pageIndex = (args.Skip ?? 0) / (args.Top ?? 10) + 1;
        int pageSize = args.Top ?? 10;

        var result = await _stockService.GetFifoStocksReportAsync(null, fromDate, toDate, pageIndex, pageSize);
        if (result.Success)
        {
            Stocks = result.Data.Item1.ToList();
            count = result.Data.Item2;
        }
        else
        {
            // Handle error (e.g., show message)
            Stocks = new List<StockFifoDto>();
            count = 0;
        }
    }

    private async Task EditStock(StockFifoDto stock)
    {
        var data = new AddEditVendorStockRequestModel();
        data.StockNumber = stock.StockNumber;
        data.Id = stock.Id;
        data.ProductId = stock.ProductId;
        data.Quantity = stock.PurchaseQty;
        data.TotalPurchasePrice = stock.TotalPurchasePrice;

        await DialogService.OpenAsync<AddEditStockPopup>(
            "Edit Stock",
            new Dictionary<string, object>() { { "Stock", data } },
            new DialogOptions() { Width = "600px", Height = "auto" }
        );
        await LoadData(new LoadDataArgs() { Skip = 0, Top = 20 });
    }
    private async Task ViewStock(StockFifoDto Stock)
    {
        try
        {
            var result = new Dictionary<string, string>();
            result.Add("Product Name", Stock.ProductName);
            result.Add("ProductCode", Stock.ProductCode);
            result.Add("Category", Stock.Category);
            result.Add("Stock Number", Stock.StockNumber.ToString());
            result.Add("Added On", Stock.PurchaseDate.ToShortDateString());
            result.Add("Modified On", Stock.ModifiedOn?.ToShortDateString());
            result.Add("Quantity", Stock.PurchaseQty.ToString());
            result.Add("Total Purchase Price", Stock.TotalPurchasePrice?.ToString());

            await DialogService.OpenAsync<ViewPopup>(
                "Stock Details",
                new Dictionary<string, object>() { { "Obj", result } },
                new DialogOptions() { Width = "600px", Height = "auto" }
            );
        }
        catch (Exception ex)
        {
        }
    }

    private async Task AddStock(int? productId)
    {
        await DialogService.OpenAsync<AddEditStockPopup>(
        "Add Stock",
        new Dictionary<string, object>() { { "Stock", new AddEditVendorStockRequestModel { ProductId=productId} } },
        new DialogOptions() { Width = "600px", Height = "auto" }
    );
        // After closing, refresh grid
        await LoadData(new LoadDataArgs() { Skip = 0, Top = 20 });
    }

    private async Task AddStock()
    {
        var getProducts = await _ProductService.GetProductsAsync(0, 1, int.MaxValue,string.Empty);
        if (getProducts == null || (getProducts.Data.Item1 == null || getProducts.Data.Item1.Count==0))
            await DialogService.Alert("No products found. Please add a product before adding stock.", "Error");
        
            await DialogService.OpenAsync<AddEditStockPopup>(
        "Add Stock",
        new Dictionary<string, object>() { 
            { "Stock", new AddEditVendorStockRequestModel() },
            { "Products",getProducts?.Data.Item1}
        },
        new DialogOptions() { Width = "600px", Height = "auto" }
    );
        // After closing, refresh grid
        await LoadData(new LoadDataArgs() { Skip = 0, Top = 20 });
    }

}
