@page "/Transaction"
@using Common.Models
@using Common.Models.RequestModel
@using Common.Models.ResponseModel
@using Service.IService
@inject ITransactionService _TransactionService
@inject IProductService _ProductService
@inject IClientService _clientService
@inject NavigationManager Navigation
@inject DialogService DialogService
@using AIT_Inventory_App.Components.Pupups


<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:15px;">
    <h3 style="margin:0;">Transaction Management</h3>
    <RadzenButton Text="Add Transaction" Icon="add_circle" ButtonStyle="ButtonStyle.Primary"
                  Click="@AddTransaction" />
</div>


<RadzenDataGrid Data="@Transactions" TItem="GetTransactionResponseModel"
                Count="@count"
                LoadData="@LoadData"
                AllowPaging="true" PageSize="20"
                AllowSorting="false"
                AllowFiltering="true">

    <Columns>
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="ClientName" Title="Name" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="ClientPhone" Title="Client Phone" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="ClientAddress" Title="Client Address" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="ProductName" Title="Product Name" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="TransactionType" Title="Transaction Type" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="Quantity" Title="Quantity" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="TransactionDate" Title="Transaction Date" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="TotalAmount" Title="Total Amount" Filterable="true" />
        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Property="ClientAmount" Title="Client Amount" Filterable="true" />

        <RadzenDataGridColumn TItem="GetTransactionResponseModel" Title="Actions" Filterable="false">
            <Template Context="Transaction">
                <RadzenButton Text="" Icon="edit" Size="ButtonSize.Small"
                              Click="@(() => Edit(Transaction.Id))" Style="margin-right:5px" />
                <RadzenButton Text="" Icon="visibility" Size="ButtonSize.Small"
                              Click="@(() => ViewCategory(Transaction))" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    private IEnumerable<GetTransactionResponseModel>? Transactions;
    private int count;
    private async Task LoadData(LoadDataArgs args)
    {
        int pageIndex = (args.Skip ?? 0) / (args.Top ?? 10) + 1;
        int pageSize = args.Top ?? 10;

        var result = await _TransactionService.GetTransactionAsync(0, pageIndex, pageSize, args.Filter);
        if (result.Success)
        {
            Transactions = result.Data.Item1.ToList();
            count = result.Data.Item2;
        }
        else
        {
            Transactions = new List<GetTransactionResponseModel>();
            count = 0;
        }
    }

    private async Task Edit(int categoryId)
    {
        var result = await _TransactionService.GetTransactionAsync(categoryId, 1, 1, string.Empty);
        if (result.Success)
        {
            // // var data = new AddEditTransactionRequestModel();
            // // data.Name = result.Data.Item1.FirstOrDefault()?.Name;
            // // data.Description = result.Data.Item1.FirstOrDefault()?.Description;
            // // data.Id = categoryId;
            // // await DialogService.OpenAsync<AddEditTransactionPopup>(
            // //     "Edit Transaction",
            // //     new Dictionary<string, object>() { { "Transaction", data } },
            // //     new DialogOptions() { Width = "600px", Height = "auto" }
            // // );
        }
        // After closing, refresh grid
        await LoadData(new LoadDataArgs() { Skip = 0, Top = 20 });
    }
    private async Task ViewCategory(GetTransactionResponseModel transactionModel)
    {
        try
        {
            // var result = new Dictionary<string, string>();
            // result.Add("Name", transactionModel.Name);
            // result.Add("Description", transactionModel.Description);
            // result.Add("Added On", transactionModel.CreatedOn?.ToShortDateString());
            // result.Add("Modified On", transactionModel.ModifiedOn?.ToShortDateString());

            // await DialogService.OpenAsync<ViewPopup>(
            //     "Transaction Details",
            //     new Dictionary<string, object>() { { "Obj", result } },
            //     new DialogOptions() { Width = "600px", Height = "auto" }
            // );
        }
        catch (Exception ex)
        {
        }
    }
    private async Task AddTransaction()
    {
        var getProducts = await _ProductService.GetProductsReportAsync(0, 1, int.MaxValue, string.Empty);
        var getClient = await _clientService.GetAllClientsAsync(0, 1, int.MaxValue, string.Empty);
        // var getProducts = await _ProductService.GetProductsAsync(0, 1, int.MaxValue, string.Empty);
        if (getProducts == null || (getProducts.Data.Item1 == null || getProducts.Data.Item1.Count == 0))
            await DialogService.Alert("No products found. Please add a product before adding stock.", "Error");

        await DialogService.OpenAsync<AddEditTransactionPopup>(
            "Add Transaction",
            new Dictionary<string, object>() {
                {"Transaction", new AddEditTransactionRequestModel() } ,
               { "Products",getProducts?.Data.Item1},
               { "Clients",getClient?.Data.Item1}

                    },
            new DialogOptions() { Width = "600px", Height = "auto" }
        );
        // After closing, refresh grid
        await LoadData(new LoadDataArgs() { Skip = 0, Top = 20 });
    }


}
